h1 {
  width: 50px;
  height: 50px;
  position: relative;
  color: hsl(192, 47%, 68%);
  font-weight: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif,
    monospace;
  letter-spacing: 7px;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
  align-items: center;
  border: solid crimson 3px;
}

@keyframes typewriter {
  from {
    width: 0px;
  }
  to {
    width: 1920px;
  }
}

.bodyindex {
  color: aliceblue;
}

.footer {
  margin: 3px;
  padding: 4px;
  border: solid 2px cornflowerblue;
  color: aliceblue;
  justify-content: baseline;
}

.list-group div {
  display: flex;
  position: relative;
  direction: row;
}

body {
  background-image: url(./img/planet.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.containercards {
  display: flex;
  flex-wrap: wrap;
  background-color: blueviolet;
  padding: 10px;
  border: 2px solid blue;
  justify-content: center;
}

.containercards div {
  background-color: rgb(0, 0, 0);
  width: auto;
  margin: 10px;
  text-align: center;
  border: 2px solid black;
}

.mainpages {
  color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(0, 0, 0);
  padding: 5px;
  border: 2px solid rgb(121, 0, 0);
  justify-content: center;
}

.mainpages div {
  background-color: rgb(0, 0, 0);
  width: auto;
  margin: 5px;
  text-align: center;
  border: 2px solid black;
}

.hover01 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover01 figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.table {
  color: aliceblue;
}
